- provide(:title, t('.title'))

.card.w-100
  = image_tag 'center-header.png', :class => "card-img"
  .card-img-overlay.py-5
    .row
      .col
        = link_to pick_records_path do
          %h2.card-text.center.text-white.text-right
            采茶记录 >
    .row
      .col-12.text-center.py-5
        %h2.card-text.center.text-white
          我的茶叶
        %h1.card-text.center.text-white
          = sprintf("%0.2f" , @count)

.container-fluid.px-5.mt-5.mb-5.pb-5
  .card.rounded.px-5.mb-5
    .card-header.bg-white.py-4
      %h2.text-success
        茶树简介
    .card-body.py-4
      %h3
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
        这是一棵茶树
