- provide(:title, t('.title'))

.container-fluid.h-100
  .row.align-items-center.h-100
    .col-12.text-center.pl-5
      = image_tag 'custom_service.jpg', :class => "img-thubnail"
    -#
      %h1.mb-5.pl-5.text-left
        微信客服:
        %span.text-success
          x949766867
      %h1.mb-5.pl-5.text-left
        微信公众号:
        %span.text-success
          茶源世界
      %h1.mb-5.pl-5.text-left
        服务时间:
        %span.text-success
          周一到周五10:00-18:00
