- provide(:title, t('.title'))

.personal-launchpad
  .personal-container-piercing
    .personal-container-header
      %h1.personal-container-title
        充值中心
      %a.btn.btn-primary.manage-btn.order-history{:href => orders_path}
        %span.glyphicon.glyphicon-usd
        充值记录
    .order-container-wrapper
      .order-group
        .row.order-title
          =image_tag "users_wallet.png"
          %span
            支付宝充值
        .row
          = form_for @order, :html=>{:class=>"form-horizontal", :target => "_blank"}, :validate => true do |f|
            .order-img-box
              =image_tag "zhifubao.png"
            %ul.order-card#order-active
              %li
                = f.text_field :money, :class => "order-money", :id => "order-recharge", :placeholder => "请输入充值金额"
                元
                .order-tipe
              %li
                = f.submit "支付宝充值", :class=>"order-next order-lg"
