- provide(:title, t('.title'))


%h3.text-center.my-5
  采茶记录(
  = @pick_records.size
  )
   
%ul.list-group.mt-3
  - @pick_records.each_with_index do |pick_record, index|
    %li{:class => "list-group-item list-group-item-action py-5 px-5"}
      .row
        .col-3
          %h3
            采集+
            = sprintf("%0.2f" , pick_record.number)
        .col-9.text-right
          %h3
            = pick_record.created_at.strftime("%Y-%m-%d %H:%M")
