
%h3.text-center
  茶树承包协议

%h5.line-height-45
  以下内容是《茶源世界协议》及《茶树承包协议》，在你实名茶源世界前请务必审慎阅读、充分理解协议中相关条款内容。



%h5.line-height-45
  甲方：恩施州嘉茗生态农业有限责任公司

%h5.line-height-45
  乙方：
  - if current_user.status == Setting.users.passed
    = current_user.name

%h5.line-height-45
  为营造生态，共同致富的环境。嘉茗生态农业有限公司决定给与平台用户免费的一年一棵茶树承包权！甲方公开发包，乙方承包该一棵茶树一年的使用权。双方就有关事宜达成协议如下：



%h5.line-height-45
  一：乙方租赁茶树位置

%h5.line-height-45
  位置：第一处位于恩施州来凤县旧司镇新街村五组猫儿滩、第二处位于恩施州利川市毛坝镇田坝村10组山半坡、第三处位于恩施州利川市毛坝镇花板村5组西山岭。乙方所租茶树随机分配。



%h5.line-height-45
  二：茶树租聘期限及起止日期

%h5.line-height-45
  自签约起到2019年9月30日止。（茶树10月不在生产，进入剪枝，施肥期）



%h5.line-height-45
  三：乙方的权利和租聘用途

%h5.line-height-45
  1.乙方可对接甲方公司app实行茶叶生产，买卖，换购；

%h5.line-height-45
  2.乙方可亲自上门采摘，制作；



%h5.line-height-45
  四：租聘费用

%h5.line-height-45
  乙方每年租聘的第一棵茶树免费，自第二棵开始，方在app内进行购买或兑换承包。



%h5.line-height-45
  五：甲方的权利和义务

%h5.line-height-45
  1.对乙方茶叶有优先回购权；

%h5.line-height-45
  2.租聘期内，如甲方茶园遇见重大自然灾害，甲方不予赔偿；

%h5.line-height-45
  3.租聘期内，乙方所拥有的茶树，甲方需负责剪枝，施肥，采摘，加工；


%h5.line-height-45
  六：细则

%h5.line-height-45
  1.乙方租聘茶树数量按照乙方在甲方app上茶树数量而定，；

%h5.line-height-45
  2.本合同自此一份，在甲方app查看凭证中可查可取。



%h5.line-height-45.text-right
  甲方：恩施州嘉铭生态农业有限责任公司

%h5.line-height-45.text-right
  乙方：
  - if current_user.status == Setting.users.passed
    = current_user.name
%h5.line-height-45.text-right.mb-5.pb-5
  日期: 
  = current_user.updated_at.strftime("%Y-%m-%d")
